{% extends 'library/base.html' %}
{% load i18n %}

{% block content %}
    {% if form.errors %}
        <p class="p-2 my-2 bg-danger text-white">{% trans "login error, please try again" %}</p>
    {% endif %}
    {% if next %}
        {% if user.is_authenticated %}
            <p class="p-2 my-2 bg-danger text-white">{% trans "you do not have permission to view this page" %}</p>
        {% endif %}
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>{% trans "Username" %}</td>
                <td> {{ form.username }} </td>
            </tr>            
            <tr>
                <td>{% trans "Password" %}</td>
                <td> {{ form.password }} </td>
            </tr>
        </table>
        <input type="submit" value="{% trans 'Login' %}">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'password_reset' %}">{% trans "Forgot password" %}</a></p>

{% endblock content %}