{% extends 'service/base.html' %}
{% load i18n %}

{% block content %}

<section>
    <ul class="list-group">
        <li class="list-group-item">{% trans 'Total Models' %}: {{ num_models }}</li>
        <li class="list-group-item">{% trans 'Total Car Instances' %}: {{ num_car_instances }}</li>
        <li class="list-group-item">{% trans 'Total Services Available' %}: {{ num_services }}</li>
        <li class="list-group-item">{% trans 'Total Orders Completed' %}: {{ num_orders_completed }}</li>
        <li class="list-group-item">{% trans 'Number of Your visits' %}: {{ num_visits }}</li>
    </ul>
</section>


{% endblock content %}