{% extends 'service/base.html' %}
{% load i18n static %}

{% block content %}
<section>
    <h1>{{ order.car_instance }}</h1>
    <p>{% trans 'Order date' %}: {{ order.created_at }}</p>
    <p class="{% if order.is_overdue %}alert-danger{% endif %}">{% trans 'Due back' %}: {{ order.due_back }}</p>
    <p>{% trans 'Sum' %}: {{ order.sum }} EUR</p>

{% if order.order_lines %}
<ul class="list-group">
    {% for order_line in order.order_lines.all %}
        <li class="list-group-item">
            {% trans 'Service' %}: {{order_line.service.name}}, {% trans 'Count' %}: {{order_line.quantity}}, {% trans 'Price' %}: {{order_line.price}} EUR
        </li>
    {% endfor %}
</ul>
{% endif %}
</section>
<section>
{% if order.order_messages %}
<h4 class="mt-4">Messages</h4>
<ul class="list-group">
    {% for message in order.order_messages.all %}
        <li class="list-group-item">
            <h6>{% if message.author.first_name %}{{ message.author.first_name }} {{ message.author.last_name }}{% else %}{{ message.author }}{% endif %} on {{message.created_at}} wrote:</h6>
            {{message.message|safe}}
        </li>
    {% endfor %}
</ul>
{% endif %}
<div class="text-danger">{{ form.errors}}</div>
{% if request.user.is_authenticated and request.user == order.car_instance.owner%}
<div class="fieldWrapper">
    <h5>{% trans 'Leave your message' %}</h5>
    <form action="" method="post">
        {% csrf_token %}
        {{form.order}}
        {{form.author}}
        {{form.message}}
        <br>
        <input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary">
    </form>
</div>
{% endif %}
</section>

{% endblock content %}
