{% extends 'service/base.html' %}
{% load i18n static %}

{% block content %}
    <h1>{% trans "Order list" %}</h1>
    {% if orders %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous%}
                <a href="?page=1">{% trans 'first' %}</a>
                <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous' %}</a>
            {% endif %}
            <span class="current"> {{page_obj.number}} {% trans 'of' %} {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next%}
                <a href="?page={{ page_obj.next_page_number }}">{% trans 'next' %}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">{% trans 'last' %}</a>
            {% endif %}
        </span>
    </div>
    <ul class="list-group">
        {% for order in orders %}
            <li class="list-group-item {% if order.is_overdue %}list-group-item-danger{% endif %}">
                <img src="{% if order.car_instance.owner and order.car_instance.owner.profile.picture %}{{ order.car_instance.owner.profile.picture.url }}{% else %}{% static 'user_profile/img/default.png' %}{% endif %}" class="rounded mr-2" style="max-height: 70px">
                <a href="{% url 'service:order-detail' order.id %}" style="height: 2rem">{{ order.car_instance }} | Due back: {{ order.due_back }}</a>
                {% if order.car_instance.owner == request.user %}
                <a href="{% url 'service:update-order' order.id %}" class="btn btn-info">{% trans 'Update' %}</a>
                <a href="{% url 'service:delete-order' order.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>{% trans "there are no orders registered in this car service" %}</p>
    {% endif %}
    <a href="{% url 'service:create-order'%}" class="btn btn-primary mt-2">{% trans 'Place order' %}</a>
{% endblock content %}

